@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TAGCODE');</script>
    <!-- End Google Tag Manager -->
    <title>Traversal 401 Sayfa Bulunamadı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="~/errorpages/HTML/main/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/errorpages/HTML/main/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/errorpages/HTML/main/assets/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/miri-ui/docs/assets/images/icons8_airplane_take_off_3.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/errorpages/HTML/main/assets/css/style.css">

</head>
<body id="top">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGCODE"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- page five 404 start -->
    <div class="page-five-404">
        <div id="overview"></div>
        <div class="informesion">
            <div class="logos" style="left: 223px">
                <img src="~/miri-ui/docs/assets/images/clipart2903647 (1).png" alt="logo" style="height: 90px;">
            </div>
            <div class="info" style="text-align: center">
                <h1>404</h1>
                <h2>ÜZGÜNÜZ :( </h2>
                <p>Aradığınız sayfayı bulamadık !</p>

                <div>
                    <a href="/Default/Index/" class="btn">Ana Sayfa</a>
                    <a href="#" class="btn" onclick="history.back()" style="background:#28a745">Geri Dön</a>
                </div>
                
            </div>
           
        </div>
    </div>
    <!-- page five 404 end -->
    <!-- External JS libraries -->
    <script src="~/errorpages/HTML/main/assets/js/jquery-2.2.0.min.js"></script>
    <script src="~/errorpages/HTML/main/assets/js/popper.min.js"></script>
    <script src="~/errorpages/HTML/main/assets/js/bootstrap.min.js"></script>
    <script src="~/errorpages/HTML/main/assets/js/particles.min.js"></script>
    <script src="~/errorpages/HTML/main/assets/js/typed.min.js"></script>
    <script src="~/errorpages/HTML/main/assets/js/jquery.mb.YTPlayer.js"></script>
    <!-- Custom JS Script -->
    <script src="~/errorpages/HTML/main/assets/js/app.js"></script>
</body>
</html>
