@model AccountViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0.75rem 1.25rem; background-color: lightblue;">
                <h5 class="mb-0">Unit Of Work PRİM TRANSFERİ</h5>
            </div>
            <br />
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">GÖNDEREN</label>
                        <input type="text" class="form-control" asp-for="SenderID" />
                    </div>
                    <br />
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">ALICI</label>
                        <input type="text" class="form-control" asp-for="ReceiverId" />
                    </div>
                    <br />
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">MİKTAR</label>
                        <input type="text" class="form-control" asp-for="Amount" />
                    </div>
                    <br />

                    <button type="submit" class="btn btn-primary">Hesaba Aktar</button>
                </form>
            </div>
        </div>
    </div>
</div>

