
<ul class="menu-inner py-1">
    <li style="padding-top:0; text-align:center" class="menu-header text-uppercase">
        <span style="font-weight: 500; color:#566A7F" class="menu-header-text">
            ADMİN PANEL
        </span>
    </li>
  
    <li class="menu-item">
        <a href="/Default/Index/" class="menu-link" target="_blank">
            <i class="menu-icon tf-icons bx bx-home"></i>
            <div data-i18n="Analytics">Siteye Git</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Member/DashboardArea/MemberDashboard/" class="menu-link" target="_blank">
            <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
            <div data-i18n="Basic">Üye Paneline Geç</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/UserAdmin/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Basic">Kullanıcılar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-shield-x"></i>
            <div data-i18n="Analytics">Roller</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/RoleAssingRole/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-check-shield"></i>
            <div data-i18n="Analytics">Rol Atama İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ProfileAdmin/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-plus"></i>
            <div data-i18n="Analytics">Profil Bilgilerim</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Reservation/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-calendar-check"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/DestinationAdmin/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-directions"></i>
            <div data-i18n="Analytics">Rotalar</div>
        </a>
    </li>    
  
    <li class="menu-item">
        <a href="/Admin/GuideAdmin/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-voice"></i>
            <div data-i18n="Analytics">Rehberlerimiz</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div data-i18n="Analytics">İletişim</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/CommentAdmin/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-conversation"></i>
            <div data-i18n="Analytics">Tur Yorumları</div>
        </a>
    </li>   
    
    
    <li class="menu-item">
        <a href="/Admin/subAbout/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-detail"></i>
            <div data-i18n="Analytics">Alt Açıklama</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Testimonial/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-walk"></i>
            <div data-i18n="Analytics">Memnuniyet Yorumları</div>
        </a>
    </li>    
    
    <li class="menu-item">
        <a href="/Admin/Newsletter/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-mail-send"></i>
            <div data-i18n="Analytics">Mail Bülteni</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/ExcelReport/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Analytics">Rapor İşlemleri</div>
        </a>
    </li>


    <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-meteor"></i>
            <div data-i18n="Extended UI">Rapid Api İşlemleri</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/ImdbMovieApi/Index/" class="menu-link">
                    <div data-i18n="Perfect Scrollbar">En İyi 100 Film</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/Exchange/Index/" class="menu-link">
                    <div data-i18n="Text Divider">Döviz Kuru</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/BookingHotelSearch/Index/" class="menu-link">
                    <div data-i18n="Text Divider">Otel Rezervasyon</div>
                </a>
            </li>           
        </ul>
    </li>

    <li class="menu-item">
        <a href="/Login/LogOut" class="menu-link">
            <i class="menu-icon tf-icons bx bx-power-off"></i>
            <div data-i18n="Analytics">Çıkış</div>
        </a>
    </li>
</ul>


