
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            
            @DateTime.Now.Year  © Tüm hakları saklıdır.          
           
            <a class="text-bold-800 grey darken-2" href="/Contact/Index" target="_blank">Traversal Rezervasyon</a>
        </div>
        
    </div>
</footer>