<div class="app-brand demo">
    <a href="/Admin/UserAdmin/Index/" class="app-brand-link">
        <img src="~/miri-ui/docs/assets/images/clipart2903647 (1).png" alt="Your logo" title="Your logo" style="height:35px;" />
        
        <span class="app-brand-text demo menu-text fw-bolder ms-2" style="text-transform:none">Traversal</span>
    </a>

</div>