
<ul class="nav navbar-nav float-right">
    <li class="dropdown dropdown-notification nav-item">
        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="la la-star-o"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="arrow_box_right">
                <a class="dropdown-item" href="/Member/CommentArea/MyComment"><i class="la la-comments-o"></i> Yorumlarım</a>
                <a class="dropdown-item" href="/Member/LastDestinations/Index/"><i class="la la-map-signs"></i> Son Rotalar</a>
                <a class="dropdown-item" href="/Member/DestinationArea/Index/"><i class="la la-home"></i> Web Sitesi</a>
            </div>
        </div>
    </li>
    <li class="dropdown dropdown-user nav-item">
        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
            <span class="avatar avatar-online">
                <img src="@ViewBag.ImageUrl" alt="avatar"><i></i>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="arrow_box_right">
                <a class="dropdown-item" href="#"><span class="avatar avatar-online"><img src="@ViewBag.ImageUrl" alt="avatar"><span class="user-name text-bold-700 ml-1">@ViewBag.user</span></span></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Member/ProfileArea/Index"><i class="la la-user"></i>Profil Düzenleme</a>
                <a class="dropdown-item" href="/Member/ReservationArea/MyActiveReservation"><i class="la la-calendar"></i>Aktif Rezervasyonlarım</a>
                <a class="dropdown-item" href="/Member/ReservationArea/MyApprovalReservation"><i class="la la-calendar-check-o"></i>Onay Rezervasyonlarım</a>
                <a class="dropdown-item" href="/Member/ReservationArea/MyOldReservation"><i class="la la-calendar-times-o"></i>Geçmiş Rezervasyonlarım</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Login/LogOut"><i class="ft-power"></i> Çıkış</a>
            </div>
        </div>
    </li>
</ul>