@model UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0.75rem 1.25rem; background-color: #566A7F">
                <h5 style="color:white" class="mb-0">YENİ ROL GÜNCELLEME SAYFASI</h5>
            </div>
            <br />
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <input type="hidden" asp-for="RoleID" />
                        <label class="form-label" for="basic-default-fullname">ROL ADI</label>
                        <input type="text" class="form-control" asp-for="RoleName" />
                    </div>


                    <button type="submit" class="btn btn-primary">Güncelle</button>
                    <a href="/Admin/Role/Index" class="btn btn-danger btn-icon-text"><i class="mdi mdi-reply"></i>İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>


