


<li class="nav-item navbar-dropdown dropdown-user dropdown">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
            <img src="@ViewBag.ImageUrl" class="w-px-40 h-auto rounded-circle" />
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="#">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                            <img src="@ViewBag.ImageUrl" class="w-px-40 h-auto rounded-circle" />
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <span class="fw-semibold d-block">@ViewBag.user</span>
                        <small class="text-muted">Admin</small>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a class="dropdown-item" href="/Default/Index" target="_blank">
                <i class="bx bx-home me-2"></i>
                <span class="align-middle">Siteye git</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="/Admin/ProfileAdmin/Index">
                <i class="bx bx-cog me-2"></i>
                <span class="align-middle">Profilim</span>
            </a>
        </li>
      
        <li>
            <a class="dropdown-item" href="/Login/LogOut">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Çıkış</span>
            </a>
        </li>
    </ul>
</li>